.countdown .content {
  gap: 8px;
  max-width: 400px; /* Limit overall width */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.countdown h2 {
  margin-bottom: 10px;
  font-size: 32px;
}

.countdown .box {
  width: auto; /* Remove fixed width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Allow height to adjust */
  max-width: none; /* Remove max-width constraint */
}

.countdown .value {
  font-size: 16px;
  width: 40px;
  height: 40px;
  font-weight: 600;
  background-color: #5b21b6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  position: relative;
  box-shadow: -1px 0px 2px 1px #232423ad;
}

@media screen and (min-width: 550px) {
  .countdown .content {
    gap: 15px;
  }
  .countdown .value {
    font-size: 20px;
    width: 50px;
    height: 50px;
  }
  .countdown .box {
    height: 120px;
    max-width: 120px;
  }
}

@media screen and (min-width: 790px) {
  .countdown .value {
    font-size: 28px;
    height: 70px;
    width: 70px;
  }
  .countdown .box {
    max-width: 130px;
    height: 140px;
  }
}

.countdown .value::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: -4px;
  width: 6px;
  height: 12px;
  background-color: #969696;
  box-shadow: inset -1px 1px 5px 1px #0e0e0ead;
}

.countdown .label {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 5px;
}
