/* Base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-all duration-100 ease-in-out;
}

/* Scrollbar styles */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Hover animations */
.transform-animation {
  @apply transform transition-transform duration-300 ease-in-out;
}

.hover-animation {
  @apply cursor-pointer transform-animation;
}

.hover-up {
  @apply hover:translate-y-[-5px];
}

.scale-up {
  @apply hover:scale-105;
}

.shadow-up {
  @apply transition-all hover:shadow-xl hover:border-r-4 hover:border-l-4 hover:border-purple-500;
}

/* Pulse animation */
@keyframes pulse-once {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.single-pulse {
  animation: pulse-once 1s ease-in-out;
}

/* Flexbox styles */
.flex-items {
  @apply flex items-center;
}

.flex-center {
  @apply flex-items justify-center;
}

.div-outside-width {
  @apply flex-center flex-col;
}

.div-flex-row {
  @apply flex-center flex-row;
}

.div-outside-width-justify-between {
  @apply flex-items justify-between;
}

.navbar-flex-wrap {
  @apply div-outside-width-justify-between flex-wrap;
}

.div-col-row {
  @apply flex flex-col lg:flex-row;
}

.div-col-row-reverse {
  @apply flex flex-col lg:flex-row-reverse;
}

/* Sizing styles */
.resize-hero-width {
  @apply w-full md:w-10/12;
}

.resize-width-to-half {
  @apply w-full lg:w-1/2;
}

.resize-width-to-1-3 {
  @apply w-full md:w-1/3;
}

.resize-width-to-2-3 {
  @apply w-full lg:w-2/3;
}

.resize-modal {
  @apply w-full h-screen md:max-w-2xl md:h-auto;
}

.resize-modal-full-width {
  @apply w-full h-screen md:w-10/12 md:h-auto;
}

/* Hidden classes */
.hidden-md-flex {
  @apply hidden md:flex flex-col;
}

.hidden-md-flex-reverse {
  @apply flex flex-col md:hidden;
}

/* Grid styles */
.hidden-grid-1-3 {
  @apply hidden md:grid grid-rows-1 grid-cols-2 lg:grid-cols-3 gap-2;
}

.hidden-for-small-height {
  @apply hidden md:block;
}

/* Text colors */
.long-paragraph-text-color {
  @apply text-gray-600;
}

/* Media queries */
@media (max-height: 600px) {
  .hidden-grid-1-3 {
    @apply hidden;
  }

  .hidden-for-small-height {
    @apply hidden;
  }
}
