.balloon {
  display: inline-block;
  width: 120px;
  height: 145px;
  background: var(--balloon-color, hsl(215, 50%, 65%)); /* Use CSS variable */
  border-radius: 80%;
  position: relative;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.07);
  margin: 20px;
  transition: transform 0.5s ease;
  z-index: 10;
  animation: balloons var(--animation-duration, 4s) ease-in-out infinite; /* Use random animation duration */
  transform-origin: bottom center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(calc(var(--rotate-angle, 0deg) * -1));
  }
  50% {
    transform: translateY(var(--translate-y, 25px))
      rotate(var(--rotate-angle, 4deg));
  }
}

.balloon:before {
  content: "▲";
  font-size: 20px;
  color: var(--string-color, hsl(215, 30%, 50%));
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12px;
  z-index: -100;
}

.balloon:after {
  display: none;
  display: inline-block;
  top: 153px;
  position: absolute;
  height: 250px;
  width: 1px;
  margin: 0 auto;
  content: "";
  background: rgba(0, 0, 0, 0.2);
}
